# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/


#ephemeris files
*.bsp
*.tpc

#ignoring all GRAM files
*.h
*.cpp
*.md
atmospheric_model/GRAM/GRAM_Suite_1_5/common/googletest/LICENSE
atmospheric_model/GRAM/GRAM_Suite_1_5/common/googletest/makefile
*.cc
*.f90
*.txt
*.pdf
*.html
*.png
*.map
*.md5
*.css
*.js
*.csv
*.pptx
atmospheric_model/GRAM/GRAM_Suite_1_5/Doxyfile
*.bat
*.xml
*.c
atmospheric_model/GRAM/GRAM_Suite_1_5/Linux/EarthCorrMonte
atmospheric_model/GRAM/GRAM_Suite_1_5/Earth/data/NCEPdata/FixedBin_folder_goes_here
atmospheric_model/GRAM/GRAM_Suite_1_5/Linux/EarthCorrTraj
atmospheric_model/GRAM/GRAM_Suite_1_5/Linux/EarthGRAM
atmospheric_model/GRAM/GRAM_Suite_1_5/Linux/JupiterGRAM
atmospheric_model/GRAM/GRAM_Suite_1_5/Linux/MarsGRAM
atmospheric_model/GRAM/GRAM_Suite_1_5/Linux/MarsRad
atmospheric_model/GRAM/GRAM_Suite_1_5/Linux/NeptuneGRAM
atmospheric_model/GRAM/GRAM_Suite_1_5/Linux/TitanGRAM
atmospheric_model/GRAM/GRAM_Suite_1_5/Linux/UranusGRAM
atmospheric_model/GRAM/GRAM_Suite_1_5/Linux/VenusGRAM
atmospheric_model/GRAM/GRAM_Suite_1_5/Mars/data/ASCII/COSPAR2.DAT
atmospheric_model/GRAM/GRAM_Suite_1_5/Mars/data/ASCII/hgtoffst.dat
atmospheric_model/GRAM/GRAM_Suite_1_5/Mars/data/MGCM_lower_data.bin
atmospheric_model/GRAM/GRAM_Suite_1_5/Mars/data/MGCM_surface_data.bin
atmospheric_model/GRAM/GRAM_Suite_1_5/Mars/data/MGCM_upper_data.bin
atmospheric_model/GRAM/GRAM_Suite_1_5/Mars/data/MOLA_data.bin
atmospheric_model/GRAM/GRAM_Suite_1_5/Mars/data/TES_dust_data.bin
atmospheric_model/GRAM/GRAM_Suite_1_5/Mars/data/TES_lower_data.bin
atmospheric_model/GRAM/GRAM_Suite_1_5/Mars/data/TES_surface_data.bin
atmospheric_model/GRAM/GRAM_Suite_1_5/Mars/data/TES_upper_data.bin
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Common Unit Tests/Common Unit Tests.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Common Unit Tests/Common Unit Tests.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Common/Common.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Common/Common.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Earth Unit Tests/Earth Unit Tests.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Earth Unit Tests/Earth Unit Tests.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Earth/Earth.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Earth/Earth.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthCorrMonte/EarthCorrMonte.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthCorrMonte/EarthCorrMonte.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthCorrMonte/EarthCorrMonte.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthCorrMulti/EarthCorrMulti.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthCorrMulti/EarthCorrMulti.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthCorrMulti/EarthCorrMulti.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthCorrTraj/EarthCorrTraj.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthCorrTraj/EarthCorrTraj.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthCorrTraj/EarthCorrTraj.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthExample_C/EarthExample_C.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthExample_C/EarthExample_C.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthExample_C/EarthExample_C.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthExample_Docs/EarthExample_Docs.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthExample_Docs/EarthExample_Docs.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthExample_Docs/EarthExample_Docs.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthExamples/EarthExamples.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthExamples/EarthExamples.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthGRAM/EarthGRAM.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthGRAM/EarthGRAM.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthGRAM/EarthGRAM.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthLib/EarthLib.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthLib/EarthLib.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthLib/EarthLib.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/googletest/googletest.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/googletest/googletest.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAM/GRAM.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAM/GRAM.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAM/GRAM.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAM_C/GRAM_C.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAM_C/GRAM_C.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAM_C/GRAM_C.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAMCommonLib/GRAMCommonLib.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAMCommonLib/GRAMCommonLib.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAMCommonLib/GRAMCommonLib.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAMExamples/GRAMExamples.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAMExamples/GRAMExamples.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAMExamples/GRAMExamples.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAMLib/GRAMLib.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAMLib/GRAMLib.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAMLib/GRAMLib.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/GRAMs.sln
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Jupiter Unit Tests/Jupiter Unit Tests.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Jupiter Unit Tests/Jupiter Unit Tests.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Jupiter/Jupiter.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Jupiter/Jupiter.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterExample_C/JupiterExample_C.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterExample_C/JupiterExample_C.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterExample_C/JupiterExample_C.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterExample_Docs/JupiterExample_Docs.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterExample_Docs/JupiterExample_Docs.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterExample_Docs/JupiterExample_Docs.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterExamples/JupiterExamples.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterExamples/JupiterExamples.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterGRAM/JupiterGRAM.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterGRAM/JupiterGRAM.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterGRAM/JupiterGRAM.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterLib/JupiterLib.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterLib/JupiterLib.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterLib/JupiterLib.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Mars Unit Tests/Mars Unit Tests.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Mars Unit Tests/Mars Unit Tests.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Mars/Mars.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Mars/Mars.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsExample_C/MarsExample_C.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsExample_C/MarsExample_C.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsExample_C/MarsExample_C.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsExample_Docs/MarsExample_Docs.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsExample_Docs/MarsExample_Docs.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsExample_Docs/MarsExample_Docs.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsExamples/MarsExamples.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsExamples/MarsExamples.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsGRAM/MarsGRAM.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsGRAM/MarsGRAM.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsGRAM/MarsGRAM.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsLib/MarsLib.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsLib/MarsLib.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsLib/MarsLib.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsRad/MarsRad.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsRad/MarsRad.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsRad/MarsRad.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Neptune Unit Tests/Neptune Unit Tests.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Neptune Unit Tests/Neptune Unit Tests.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Neptune/Neptune.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Neptune/Neptune.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneExample_C/NeptuneExample_C.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneExample_C/NeptuneExample_C.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneExample_C/NeptuneExample_C.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneExample_Docs/NeptuneExample_Docs.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneExample_Docs/NeptuneExample_Docs.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneExample_Docs/NeptuneExample_Docs.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneExamples/NeptuneExamples.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneExamples/NeptuneExamples.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneExamples/NeptuneExamples.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneGRAM/NeptuneGRAM.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneGRAM/NeptuneGRAM.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneGRAM/NeptuneGRAM.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneLib/NeptuneLib.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneLib/NeptuneLib.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/NeptuneLib/NeptuneLib.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Titan Unit Tests/Titan Unit Tests.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Titan Unit Tests/Titan Unit Tests.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Titan/Titan.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Titan/Titan.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanExample_C/TitanExample_C.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanExample_C/TitanExample_C.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanExample_C/TitanExample_C.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanExample_Docs/TitanExample_Docs.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanExample_Docs/TitanExample_Docs.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanExample_Docs/TitanExample_Docs.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanExamples/TitanExamples.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanExamples/TitanExamples.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanGRAM/TitanGRAM.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanGRAM/TitanGRAM.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanGRAM/TitanGRAM.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanLib/TitanLib.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanLib/TitanLib.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanLib/TitanLib.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Uranus Unit Tests/Uranus Unit Tests.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Uranus Unit Tests/Uranus Unit Tests.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Uranus/Uranus.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Uranus/Uranus.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusExample_C/UranusExample_C.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusExample_C/UranusExample_C.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusExample_C/UranusExample_C.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusExample_Docs/UranusExample_Docs.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusExample_Docs/UranusExample_Docs.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusExample_Docs/UranusExample_Docs.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusExamples/UranusExamples.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusExamples/UranusExamples.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusGRAM/UranusGRAM.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusGRAM/UranusGRAM.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusGRAM/UranusGRAM.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusLib/UranusLib.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusLib/UranusLib.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusLib/UranusLib.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Venus Unit Tests/Venus Unit Tests.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Venus Unit Tests/Venus Unit Tests.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Venus/Venus.vcxitems
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/Venus/Venus.vcxitems.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusExample_C/VenusExample_C.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusExample_C/VenusExample_C.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusExample_C/VenusExample_C.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusExample_Docs/VenusExample_Docs.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusExample_Docs/VenusExample_Docs.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusExample_Docs/VenusExample_Docs.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusExamples/VenusExamples.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusExamples/VenusExamples.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusExamples/VenusExamples.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusGRAM/VenusGRAM.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusGRAM/VenusGRAM.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusGRAM/VenusGRAM.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusLib/VenusLib.vcxproj
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusLib/VenusLib.vcxproj.filters
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/VenusLib/VenusLib.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/eros/near-a-msi-5-erosshape-v1_0_512q.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/eros/near-a-msi-5-erosshape-v1_0_512q.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/eros/near-a-msi-5-erosshape-v1_0_512q.jpg
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/eros/near-a-msi-5-erosshape-v1_0_512q.mov
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/eros/near-a-msi-5-erosshape-v1_0_512q.xfr.gz
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/eros/near-a-msi-5-erosshape-v1_0_64q.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/eros/near-a-msi-5-erosshape-v1_0_64q.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/eros/near-a-msi-5-erosshape-v1_0_64q.jpg
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/eros/near-a-msi-5-erosshape-v1_0_64q.xfr.gz
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/itokawa/hay_a_amica_5_itokawashape_v1_0_512q.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/itokawa/hay_a_amica_5_itokawashape_v1_0_512q.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/itokawa/hay_a_amica_5_itokawashape_v1_0_512q.jpg
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/itokawa/hay_a_amica_5_itokawashape_v1_0_512q.xfr.gz
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/itokawa/hay_a_amica_5_itokawashape_v1_0_64q.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/itokawa/hay_a_amica_5_itokawashape_v1_0_64q.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/itokawa/hay_a_amica_5_itokawashape_v1_0_64q.jpg
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/itokawa/hay_a_amica_5_itokawashape_v1_0_64q.xfr.gz
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/lutetia/a_old_versions/ro-a-osinac_osiwac-5-lutetia-shape-v1_0_002m.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/lutetia/a_old_versions/ro-a-osinac_osiwac-5-lutetia-shape-v1_0_002m.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/lutetia/a_old_versions/ro-a-osinac_osiwac-5-lutetia-shape-v1_0_002m.jpg
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/lutetia/a_old_versions/ro-a-osinac_osiwac-5-lutetia-shape-v1_0_006k.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/lutetia/a_old_versions/ro-a-osinac_osiwac-5-lutetia-shape-v1_0_006k.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/lutetia/a_old_versions/ro-a-osinac_osiwac-5-lutetia-shape-v1_0_006k.jpg
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/lutetia/a_old_versions/ro-a-osinac_osiwac-5-lutetia-shape-v1_0_780k.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/lutetia/a_old_versions/ro-a-osinac_osiwac-5-lutetia-shape-v1_0_780k.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/lutetia/a_old_versions/ro-a-osinac_osiwac-5-lutetia-shape-v1_0_780k.jpg
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/steins/a_old_versions/ro-a-osinac_osiwac-5-steins-shape-v1_0_20k.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/steins/a_old_versions/ro-a-osinac_osiwac-5-steins-shape-v1_0_20k.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/steins/a_old_versions/ro-a-osinac_osiwac-5-steins-shape-v1_0_20k.jpg
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/steins/a_old_versions/steins_0.7_4.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/steins/a_old_versions/steins_0.7_4.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/steins/a_old_versions/steins_0.7_4.xfr.gz
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/vesta/vesta_gaskell_256.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/vesta/vesta_gaskell_256.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/vesta/vesta_gaskell_256.xfr.gz
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/vesta/vesta_thomas_1997.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/vesta/vesta_thomas_1997.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/asteroids/vesta/vesta_thomas_1997.xfr.gz
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/comets/churyumov-gerasimenko/a_old_versions/churyumov-gerasimenko_512.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/comets/churyumov-gerasimenko/a_old_versions/churyumov-gerasimenko_512.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/comets/churyumov-gerasimenko/a_old_versions/churyumov-gerasimenko_512.xfr.gz
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/comets/churyumov-gerasimenko/a_old_versions/input_files/CGRA_FDLRMA_DA_TEST_________00000.ROS
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/satellites/phobos512.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/satellites/phobos512.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/satellites/phobos_2014_09_22.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/satellites/phobos_2014_09_22.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/satellites/phobos_3_3.bds
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/dsk/satellites/phobos_3_3.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/a_old_versions/naif0007.tls
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/a_old_versions/naif0008.tls
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/a_old_versions/naif0008.tls.pc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/a_old_versions/naif0009.tls
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/a_old_versions/naif0009.tls.pc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/a_old_versions/naif0010.tls
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/a_old_versions/naif0010.tls.pc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/a_old_versions/naif0011.tls
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/a_old_versions/naif0011.tls.pc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/latest_leapseconds.tls
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/latest_leapseconds.tls.pc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/naif0011.tls
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/naif0012.tls
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/lsk/naif0012.tls.pc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/a_old_versions/earth_031228_231229_predict.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/a_old_versions/earth_060526_370526_predict.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/a_old_versions/earth_070425_370426_predict.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/a_old_versions/earth_200101_990628_predict.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/a_old_versions/earth_200101_990628_predict.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/a_old_versions/earth_720101_031229.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/a_old_versions/earth_720101_070426.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/a_old_versions/earth_720101_070426.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/a_old_versions/earth_720101_070527.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/a_old_versions/geophysical.ker
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/a_old_versions/lunar_de403s_pa_v0.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/earth_000101_230828_230604.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/earth_000101_230828_230604.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/earth_200101_990825_predict.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/earth_200101_990825_predict.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/earth_720101_230601.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/earth_720101_230601.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/earth_fixed.tf
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/earth_latest_high_prec.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/earth_latest_high_prec.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/geophysical.ker
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/moon_pa_de403_1950-2198.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/moon_pa_de403_1950-2198.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/moon_pa_de418_1950-2050.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/moon_pa_de418_1950-2050.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/moon_pa_de421_1900-2050.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/moon_pa_de421_1900-2050.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/moon_pa_de440_200625.bpc
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/pck/moon_pa_de440_200625.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/asteroids/a_old_versions/ceres_1900_2100.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/asteroids/a_old_versions/codes_300ast_20061020.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/asteroids/a_old_versions/codes_300ast_20061020.tf
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/asteroids/a_old_versions/eros_1900_2100.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/asteroids/a_old_versions/kleopatra_1900_2100.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/asteroids/a_old_versions/kleopatra_2000_2010.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/asteroids/a_old_versions/minoriso.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/asteroids/a_old_versions/pallas_1900_2100.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/asteroids/a_old_versions/vesta_1900_2100.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/asteroids/a_old_versions/vestlute.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/asteroids/codes_300ast_20100725.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/asteroids/codes_300ast_20100725.tf
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/comets/a_old_versions/minoriso.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/comets/a_old_versions/pcomets_v1.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/comets/a_old_versions/pcomets_v1.xsp
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/comets/a_old_versions/siding_spring_v1.lbl
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/comets/a_old_versions/siding_spring_v2.lbl
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/comets/ison.lbl
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/comets/siding_spring.lbl
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/satellites/ura111xl-704.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/satellites/ura111xl-704.mrg
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/satellites/ura111xl-705.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/satellites/ura111xl-705.mrg
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/satellites/ura111xl-799.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/satellites/ura111xl-799.mrg
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/satellites/ura115.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/satellites/ura115.mrg
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/satellites/ura116.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/satellites/ura116.mrg
atmospheric_model/GRAM/GRAM_Suite_1_5/SPICE/spk/satellites/ura116xl.cmt
atmospheric_model/GRAM/GRAM_Suite_1_5/Uranus/sample_inputs/.~lock.traj_OUTPUT.csv\#
atmospheric_model/GRAM/GRAM_Suite_1_5/Windows/EarthCorrMonte.exe
atmospheric_model/GRAM/GRAM_Suite_1_5/Windows/EarthCorrTraj.exe
atmospheric_model/GRAM/GRAM_Suite_1_5/Windows/EarthGRAM.exe
atmospheric_model/GRAM/GRAM_Suite_1_5/Windows/JupiterGRAM.exe
atmospheric_model/GRAM/GRAM_Suite_1_5/Windows/MarsGRAM.exe
atmospheric_model/GRAM/GRAM_Suite_1_5/Windows/MarsRad.exe
atmospheric_model/GRAM/GRAM_Suite_1_5/Windows/NeptuneGRAM.exe
atmospheric_model/GRAM/GRAM_Suite_1_5/Windows/TitanGRAM.exe
atmospheric_model/GRAM/GRAM_Suite_1_5/Windows/UranusGRAM.exe
atmospheric_model/GRAM/GRAM_Suite_1_5/Windows/VenusGRAM.exe
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/EarthExamples/EarthExamples.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/googletest/googletest.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/JupiterExamples/JupiterExamples.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/MarsExamples/MarsExamples.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/TitanExamples/TitanExamples.vcxproj.user
atmospheric_model/GRAM/GRAM_Suite_1_5/MSVS/UranusExamples/UranusExamples.vcxproj.user
